html, body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

#buddypress .center {
	text-align: center;
	padding: 10px 0;
}

#buddypress .left {
	float: left;
}

#buddypress .right {
	float: right;
}
  
#TB_ajaxWindowTitle {
	display: none;
}

#buddypress ul#media-stream.grid-list a,  #buddypress ul#media-stream.grid-list u {
    text-decoration: none;
    position: relative;
}
 
#buddypress ul#media-stream.grid-list {
	border-top: 1px solid #eaeaea;
	width: 100%;
	list-style: none;
	clear: both;
	margin: 0;
	padding: 0;
	
	
}

#buddypress ul#media-stream.grid-list li {
	border: 1px solid #eaeaea;
	float: left;
	margin: 10px 10px 10px 5px;
	padding: 0;
	overflow: hidden;
	width: 150px;
	height: 150px;
	position: relative;
	background-size: cover !important;
}

#buddypress ul#media-stream.grid-list li img {
	border-radius: 0;
	box-shadow: none;
	float: left;
	

}

#buddypress ul#media-stream.grid-list .album-info {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba( 0, 0, 0, 0.5 );
}

#buddypress ul#media-stream.grid-list .album-title {
	padding: 0 5px 0 5px;
	font-size: 14px;
}

#buddypress ul#media-stream.grid-list .album-count {
	padding: 0 5px 0 5px;
	font-size: 12px;
}



#buddypress ul#media-stream.grid-list .create-album {
	line-height: 150px;
	text-align: center;
	border: dashed 1px #e1e1e1;
}

#buddypress .album-type {
	font-size: 14px;
	font-weight: normal;
	margin: 0 10px;
	font-style: italic;
	color: #777777;
}


#buddypress #drag-drop-area {
	text-align: center;
	border: 4px dotted #efefef;
	padding: 15px;
	margin: 0 0 10px 0;
}

#buddypress #drag-drop-area p {
	margin: 0;
}

/*comments header */
#buddypress .media-pop-wrapper .upload-author {
	border-bottom: 1px solid #efefef;
}

#buddypress .media-pop-wrapper .upload-author, 
#buddypress .media-pop-wrapper .comment-author {
	overflow: hidden;
}

#buddypress .media-pop-wrapper .upload-author-avatar, 
#buddypress .media-pop-wrapper .comment-author img {
	float: left;
	margin-right: 10px;
}

#buddypress .media-pop-wrapper .upload-author-username,
#buddypress .media-pop-wrapper .comment-author-username {
	font-weight: bold;
}

/* comments list */

#buddypress ul.commentlist li {
	border-bottom: 1px solid #efefef;
	padding: 5px 0;
}

#buddypress ul.commentlist p {
	margin:  5px 0;
}

#buddypress .media-pop-wrapper .media-thumbnail {
	float: left;
	padding: 5px;
}

#buddypress .media-pop-wrapper .media-thumbnail img {
	border-radius: 0px;
	box-shadow: none;
}

#buddypress #album-personal-li {
	display: none;
}


#buddypress div.comment-column div.activity-comments {
	margin: 0 !important;
}

#buddypress div.image-reply-form {
	margin: 10px 0 ;
}

#buddypress .media-pop-wrapper .image-reply-form input {
	border: 1px solid #eeeeee;
	
}

#buddypress .media-pop-wrapper li {
	position: relative;
}

#buddypress .media-pop-wrapper .comment-options {
	position: absolute;
	right: 0;
	top: 5px;
	font-size: 12px;
}

#buddypress .image-options {
	overflow: hidden;
}

#buddypress .media-activity {
	padding: 0 0 10px 75px;
	margin-bottom: 10px;	
}

body.bp-user #buddypress .media-activity,
body.groups #buddypress .media-activity {
	margin-top: -20px;	
}

#buddypress .activity-media-image {
	position: relative;
	width: 90px;
	height: 90px;
}

#buddypress .activity-remove-attachment {
	cursor: pointer;
	position: absolute;
	top: 3px;
	right: 3px;
	color: #ffffff;
	background: #000000;
	padding: 0 8px;
	border-radius: 50%;
}

#buddypress form#whats-new-form #whats-new-content {
	min-height: 55px;
	padding: 10px 0 0 20px;
}

/* comments form */

#buddypress .media-pop-wrapper .image-reply-form input {
	width: 80%;
}

#buddypress .bp-media-buttons {
	margin-bottom: 20px;
}

#buddypress .bp-media-buttons div {
	display: inline-block;
}

/* album grids */

#buddypress .bp-media-admin-album label {
	width: 100%;
	display: block;
}

#buddypress .media-thumbnail {
	float: left;
	padding: 5px;
}

#buddypress .media-thumbnail img {
	border-radius: 0px;
	box-shadow: none;
}
#album-personal-li,
#create-personal-li,
#image-personal-li {
	display: none;
}

#delete-album {
	cursor: pointer;
}

#buddypress .error {
	color: red;
}

/* activity post form */
#buddypress input#plupload-browse-button.activity-attach-button {
	float: right;
	margin: 14px 5px 0 0;
}

#buddypress .bp-media-activity-content {
	display: block;
	clear: both;
}

#buddypress .bp-media-activity-content img {
	width: 75px;
	height: 75px;
}

#buddypress .media-image {
	margin: 10px 0;
}

#buddypress #delete-album.error,
#buddypress .image-action-delete.error {
	font-size: 14px;
	float: right;
	text-decoration: none;
}

body.media #buddypress a {
	border: none;
	cursor: pointer;
}

#buddypress .image-action-links {
	font-size: 14px;
}

#buddypress #percentage {
	display: none;
	height: 15px;
	width: 100%;
	margin: 0 0 10px 0;
}

#buddypress #percentage progress {
	height: 15px;
	width: 100%;
}

#buddypress .activity-media-tmp {
	width: 100%;
	height: 100%;
}

#buddypress #image-description {
	margin: 0 0 10px 0; 
}



/* media pop up window */

#TB_window {
	overflow: hidden;
	background:	#000000 !important;
}
		
#TB_ajaxWindowTitle {
	display: none;
}

#TB_title {
	background:	#5c5c5c !important;
	border:	none !important;
	height: 0 !important;
}

#TB_ajaxContent {
	width: 100% !important;
	height: 100% !important;
	padding: 0 !important;
	overflow: scroll;
}

#TB_ajaxContent .media-pop-wrapper {
  	margin-right: 400px;
  	height: 100%;
}
#TB_ajaxContent .photo-column {
  	float: left;
  	width: 100%;
  	height: 100%;
}
#TB_ajaxContent .comment-column {
	float: right;
	width: 400px;
	height: 100%;
	margin-right: -400px;
	padding: 15px;
	background-color: #ffffff;
}
#TB_ajaxContent #cleared {
  	clear: both;
}

#TB_ajaxContent .media-image {
	padding: 10px;
	height: 100%;
}

#TB_ajaxContent .media-image img {
	margin: auto;
	display: table;
	max-width: 100%;
	top: 50%;
	-webkit-transform: translateY(25%);
	-ms-transform: translateY(25%);
	transform: translateY(25%);
}

#TB_ajaxContent .upload-author {
	margin: 0 0 20px 0;
}