html, body {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

#buddypress .center {
	text-align: center;
	padding: 10px 0;
}

#buddypress .left {
	float: left;
}

#buddypress .right {
	float: right;
}
  

#buddypress ul#media-stream.grid-list a,  #buddypress ul#media-stream.grid-list u {
    text-decoration: none;
    position: relative;
}
 
#buddypress ul#media-stream.grid-list {
	border-top: 1px solid #eaeaea;
	width: 100%;
	list-style: none;
	clear: both;
	margin: 0;
	padding: 0;
	
	
}

#buddypress ul#media-stream.grid-list li {
	border: 1px solid #eaeaea;
	float: left;
	margin: 10px 10px 10px 5px;
	padding: 0;
	overflow: hidden;
	width: 150px;
	height: 150px;
	position: relative;
	background-size: cover !important;
}

#buddypress ul#media-stream.grid-list li img {
	border-radius: 0;
	box-shadow: none;
	float: left;
	

}

#buddypress ul#media-stream.grid-list .album-info {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba( 0, 0, 0, 0.5 );
}

#buddypress ul#media-stream.grid-list .album-title {
	padding: 0 5px 0 5px;
	font-size: 14px;
}

#buddypress ul#media-stream.grid-list .album-count {
	padding: 0 5px 0 5px;
	font-size: 12px;
}


#buddypress ul#media-stream.grid-list .create-album {
	line-height: 150px;
	text-align: center;
	border: dashed 1px #e1e1e1;
}

#buddypress .album-type {
	font-size: 14px;
	font-weight: normal;
	margin: 0 10px;
	font-style: italic;
	color: #777777;
}


#buddypress #drag-drop-area {
	text-align: center;
	border: 4px dotted #efefef;
	padding: 15px;
	margin: 0 0 10px 0;
}

#buddypress #drag-drop-area p {
	margin: 0;
}

/*comments header */
#buddypress .media-pop-wrapper .upload-author {
	border-bottom: 1px solid #efefef;
}

#buddypress .media-pop-wrapper .upload-author, 
#buddypress .media-pop-wrapper .comment-author {
	overflow: hidden;
	position: relative;
}

#buddypress .media-pop-wrapper .upload-author-avatar, 
#buddypress .media-pop-wrapper .comment-author img {
	float: left;
	margin-right: 10px;
}

#buddypress .media-pop-wrapper .upload-author-username,
#buddypress .media-pop-wrapper .comment-author-username {
	font-weight: bold;
}

#buddypress .media-pop-wrapper .upload-posted-in {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 12px;
	color: #777777;
}

#buddypress .media-pop-wrapper .upload-time-since {
	color: #777777;
	font-size: 13px;
	font-weight: normal;
}

/* comments list */

#buddypress ul.commentlist li {
	border-bottom: 1px solid #efefef;
	padding: 5px 0;
}

#buddypress ul.commentlist p {
	margin:  5px 0;
}

#buddypress .media-pop-wrapper .media-thumbnail {
	float: left;
	padding: 5px;
}

#buddypress .media-pop-wrapper .media-thumbnail img {
	border-radius: 0px;
	box-shadow: none;
}

#buddypress #album-personal-li {
	display: none;
}


#buddypress div.comment-column div.activity-comments {
	margin: 0 !important;
}

#buddypress div.image-reply-form {
	margin: 10px 0 ;
}

#buddypress .media-pop-wrapper .image-reply-form input {
	border: 1px solid #eeeeee;
	
}

#buddypress .media-pop-wrapper li {
	position: relative;
}

#buddypress .media-pop-wrapper .comment-options {
	position: absolute;
	right: 0;
	top: 5px;
	font-size: 12px;
}

#buddypress .image-options {
	overflow: hidden;
}

#buddypress .media-activity {
	margin: 20px 10px 0 10px;
	float: left;	
}

body.bp-user #buddypress .media-activity,
body.groups #buddypress .media-activity {

}

body.album #plupload-upload-ui {
	display: none;
}

#buddypress .activity-media-image {
	position: relative;
	width: 90px;
	height: 90px;
}

#buddypress .activity-remove-attachment {
	cursor: pointer;
	position: absolute;
	top: 3px;
	right: 3px;
	color: #ffffff;
	background: #000000;
	padding: 0 8px;
	border-radius: 50%;
}

#buddypress form#whats-new-form #whats-new-content {
	min-height: 55px;
	padding: 10px !important;
	margin: 0;
	overflow: hidden;
}

/* comments form */

#buddypress .media-pop-wrapper .image-reply-form input {
	width: 80%;
}

#buddypress .bp-media-buttons {
	margin-bottom: 20px;
}

#buddypress .bp-media-buttons div {
	display: inline-block;
}

/* album grids */

#buddypress .bp-media-admin-album label {
	width: 100%;
	display: block;
}

#buddypress .media-thumbnail {
	float: left;
	padding: 5px;
}

#buddypress .media-thumbnail img {
	border-radius: 0px;
	box-shadow: none;
}
#buddypress #album-personal-li,
#buddypress #create-personal-li,
#buddypress #image-personal-li {
	display: none;
}

#buddypress #delete-album {
	cursor: pointer;
}

#buddypress .error {
	color: red;
}

/* activity post form */
#buddypress #whats-new-options,
#buddypress #whats-new {
	min-height: 50px;
	width: 100%;
	border: none;
}

#whats-new-textarea {
	float: left;
	width: 90%;
}

#whats-new-avatar  {
	float: left;
}

#buddypress #whats-new-options {
	margin: 0;
	padding: 0 10px;
	background-color: #f1f2f1;
}

#buddypress #whats-new-post-in-box {
	min-height: 50px;
}

#buddypress select#whats-new-post-in {
	margin: 16px 0 0 0 !important;
}

#buddypress #item-body form#whats-new-form, form#whats-new-form {
	border: 1px solid #eeeeee;
	overflow: hidden;
	margin-bottom: 20px;
}

#buddypress input#plupload-browse-button.activity-attach-button {
	float: right;
	margin: 12px 5px 0 0;
}

#buddypress .bp-media-activity-content {
	display: block;
	clear: both;
}

#buddypress .bp-media-activity-content img {
	width: 75px;
	height: 75px;
}

#buddypress .media-image {
	margin: 10px 0;
}

#buddypress #delete-album.error,
#buddypress .image-action-delete.error {
	font-size: 14px;
	float: right;
	text-decoration: none;
}

body.media #buddypress a {
	border: none;
	cursor: pointer;
}

#buddypress .image-action-links {
	font-size: 14px;
}

#buddypress #percentage {
	display: none;
	height: 15px;
	width: 100%;
	margin: 0 0 10px 0;
}

#buddypress #percentage progress {
	height: 15px;
	width: 100%;
}

#buddypress .activity-media-tmp {
	width: 100%;
	height: 100%;
}

#buddypress #image-description {
	margin: 0 0 10px 0; 
}


#buddypress div.pagination .pag-links {
	float: right;
	margin-right: 10px;
}

#buddypress div.pagination .pag-links a, 
#buddypress div.pagination .pag-links span {
	font-size: 90%;
	padding: 0 5px;
}